@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Work+Sans:ital,wght@1,500&display=swap');

.navbar{
  box-shadow: 5px 5px 15px gray;
  height: 120px;  
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 48%;
  }
  
  .logo img{
    float: left;
    width: 250px;
    font-size: 20px;
  }
  
  .logo h1{
    font-family: lobster,sans-serif;
    width: 450px;
  }

  .nav-item{
    font-family: sans-serif;
    font: bolder;
    font-size: 25px;
    width: 180px;
  }

  .nav-item :hover{
    color: #f0311e;
  }
  